[run]
omit =
    src/cocaine/burlak/__main__.py
    src/cocaine/burlak/ver.py
    src/cocaine/burlak/helpers/*
    src/cocaine/burlak/sched_load/*
    src/cocaine/burlak/filter_control/*
    src/cocaine/burlak/mokak/*
    src/cocaine/burlak/patricia/*
