Source: cocaine-orca
Maintainer: Alex Karev <karapuz@yandex-team.ru>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-cocaine-orca
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Orchestrator next-gen prototype

