Source: cocaine-orca
Maintainer: Alex Karev <karapuz@yandex-team.ru>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 3.3), python-all (>= 2.6.6-3), debhelper (>= 7), python-debian
Standards-Version: 3.9.5

Package: cocaine-orca
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
  cocaine-framework-python (>= 0.12.14.6),
  python-tornado (>= 4.3),
  python-click (>= 5.0),
  python (>= 2.7),
  python-yaml (>= 3.0),
  python-cerberus (>= 0.9.0),
  python-raven (>=5.0.0),
  python-six,
  ubic,
Description: Orchestrator next-gen prototype
 Runtime state updater, listens for Scheduler updates command and tries to
 update runtime state.
